/* GLOBAL */

.overallContainer {
  width: 100%;
}

.bodyContainer {
  width: 75%;
  margin: 0 auto 0 auto;
  background-color: white
}

.body {
  width: 100%;
}

/* #region header */

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  width: 100%;
  background-color: rgb(89, 108, 124);
  flex-direction: row;
  justify-content: center;
}

#logo {
  all: unset;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  padding: 1em 1em 1em 2em;
}

#title {
  all: unset;
  vertical-align: middle;
  font-size: 3em;
  color: white;
  padding: 0.5em;
  margin: 0;
}

#links {
  padding: 2em;
  display: inline-flex;
  float: right;
  margin-top: 1em;
}

#resumeLink {
  color: white;
  text-decoration: none
}

#resume {
  margin: 0;
  font-size: 1.3em;
  padding: 0.5em; 
  color: white;
}

#resume:hover {
  color: rgb(68,146,215);
}

.icon {
  font-size: 1.5em;
  padding: 0.5em;
  color: white;
}

.icon:hover {
  color: rgb(68,146,215);
}

/* #endregion header */

/* #region body */

#profilePic {
  width: 250px;
  float: left;
}

.subHeader {
  margin: 0;
  font-size: 2em;
  padding: .5em;
  color: #1f51a5;
  text-align: left;
}

.listText {
  font-size: 1em;
  word-spacing: 2px;
  line-height: 2em;
  text-align: left;
  margin: 0;
}

/* #endregion body */

/* #region projects */

.sectionTitle {
  font-size: 2em;
  text-align: center;
  background-color: rgb(89, 108, 124);
  color: white;
  margin: 0;
  padding: 5px;
}

.projImage {
  max-width: 50em;
  width: 100%;
  height: auto;
  margin: 4em 4.61em 2em 4.61em;
}

.projImage:hover {
  box-shadow: 2px 2px 5px #1f51a5;
}

.projDescription {
  text-align: center;
  margin: 0 3em 0 3em;
  font-size: 1.5em;
  line-height: 2em;
}

/* #endregion projects */