/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overallContainer {
  width: 100%;
}

.bodyContainer {
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* #region header */

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
}

#header {
  width: 100%;
  background-color: rgb(89, 108, 124);
}

#logo {
  all: unset;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  padding: 1em 1em 1em 2em;
}

#title {
  all: unset;
  vertical-align: middle;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  padding: 0.5em;
  margin: 0;
}

#links {
  padding: 2em 2em 2em 0;
  display: inline-flex;
  float: right;
  margin-top: 1em;
}

#resumeLink {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  text-decoration: none
}

#resume {
  margin: 0;
  font-size: 1.3em;
  padding: 0.5em; 
  color: white;
}

#resume:hover {
  color: rgb(68,146,215);
}

.icon {
  font-size: 1.5em;
  padding: 0.5em;
  color: white;
}

.icon:hover {
  color: rgb(68,146,215);
}

@media (max-width: 850px) {

  #title {
    display: none;
  }
}

@media (max-width: 414px) {

  #links {
    margin: 0;
    text-align: center;
    font-size: .5em;
  }

  #logo {
    justify-content: center;
  }

  .bodyContainer {
    width: 100%;
  }

}

/* #endregion header */

/* #region body */

.body {
  margin-top: 9em;
}

.picContainer {
  margin: 0;
}

#profilePic {
  width: 250px;
  float: left;
}

.subHeader {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7em;
  padding: .5em;
  color: #1f51a5;
  text-align: left;
}

.listText {
  font-size: .97em;
  color: rgb(83, 83, 83);
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-spacing: 2px;
  line-height: 2em;
  text-align: left;
  margin: 0;
  padding: 0.27em 2em;
}

@media (max-width: 523px) {

  .picContainer {
    text-align: center;
  }

  #profilePic {
    float: none;
    padding-right: 1em;
    width: 225px
  }

  .listText, .subHeader {
    text-align: center;
  }
}

/* #endregion body */

/* #region projects */

.projectBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionTitle {
  font-size: 1.7em;
  text-align: center;
  background-color: rgb(89, 108, 124);
  color: rgb(250, 250, 250);
  margin: 0;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.projImage {
  max-width: 50em;
  width: 100%;
  height: auto;
}

.projImage:hover {
  box-shadow: 4px 3px 6px rgb(89, 108, 124);
}

.sectionBody {
  display: flex;
  flex-direction: column;
}

.projectLink {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.projectInfo {
  margin: 0;
}

.projectTitle {
  color: #1f51a5;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.gitLink {
  color: #1f51a5;
}
.gitLink:hover {
  color: rgb(68,146,215);
  font-style: italic;
}

.projectDescription {
  color: rgb(83, 83, 83);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 1em;
}

@media (max-width: 523px) {

  .projectLink {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
/* #endregion projects */